<footer>
    <nav id="footer">
        <a href="https://www.linkedin.com/in/jaredlong-95/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/jlong4223"><i class="fab fa-github-square"></i></a>
    </nav>
</footer>