<%- include('../partials/header') %>

<!-- add a container class included in bootstrap to the body? -->
<!-- think about the header here -->
<body>
    <a href="/coffees/new">Enter a new Shop to the list</a>
    <main>
    <h1>Your List Of Brew Reviews</h1>

    </main>
    
    
</body>

</html>