<%- include('../partials/header') %>

<!-- add a container class included in bootstrap to the body? -->
<!-- think about the header here -->
<body id="list">
    <a href="/coffees/new">Enter a new Shop to the list</a>
    <h1 id="listHeader">Your List Of Brew Reviews</h1>
    <table>
        <thead>
            <th>Coffee Shop:</th>
            <th>Location:</th>
            <th>Coffee Tried:</th>
        </thead>
        <tbody>
            <% coffees.forEach(coffee => { %>
                <tr>
                    <td><%=coffee.shop%></td>
                    <td><%=coffee.location%></td>
                    <td><%=coffee.coffeetype%></td>
                    <td><a href="#">Details</a> </td>
                </tr>
                <% }) %>
            </tbody>
    </table>
            
</body>

</html>