<%- include('../partials/header') %>

<body id="newForm">
    <!-- <h1>Enter a new coffee shop</h1> -->

    <form action="/coffees" method="POST">
        <div class="container">
            <div class="sidebar"></div>
            <div class="coffee">
                <form>
                    <fieldset>
                        <legend>Pour The Info:</legend>
                        <label> Shop:
                            <input type="text" name="shop" required>
                        </label>
                        <label>Location:
                            <input type="text" name="location" required>
                        </label>
                        <label>Coffee Tried:
                            <input type="text" name="coffeetype" required>
                        </label>
                    </fieldset>
                    <input id="newform" type="submit" value="Add to the List">
                </form>
            </div>
        </div>
    </form>


</body>